body{
  font-family: Arial, Helvetica, sans-serif;
}

.pos-f-t{
    display: none;
}

.collapsible{
    display: none;
}

.collapse navbar-collapse{
    display:none;
}
.navbar-toggler first-button{
    display: none;
}
.search{
    border: 1px solid gray;
    float: left;
    margin: 0;
    padding: 0;
    border-top: 0px;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    margin-top: 10px;
    background: transparent url(https://img.icons8.com/ios/30/000000/search--v1.png) left no-repeat;
    background-size: 20px 20px;
    width: 250px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
    outline: none;
    width: 450px;
  }

.hero-image {
  top: 300px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 80%,rgba(246, 97, 97, 0.888) 100%, rgb(251, 38, 38) 100%),url(asset/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
}



.hero-text {
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.button {
    width: 140px;
    height: 45px;
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.button:hover {
    background-color:rgb(8, 226, 128);
    box-shadow: 0px 5px 10px rgb(175, 241, 211);
    color: #fff;
    transform: translateY(-7px);
  }

.nav{
  padding: 20px;
  
    
}

a{
text-decoration: none !important;
}

#itwo{
  border-radius: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top: 50%;
  margin-left: 50%;
height: 400px;
    width: 300px;
    
}

#two{
  padding: 100px;
  background-image: linear-gradient( rgba(246, 97, 97, 0.888) 0.1%, rgb(246, 9, 9) 20%,red 10%),url(asset/back.jpg);
    
  height: 100%;
}

.textin{
  margin-top: 40%;
  margin-left: 20%;
  color: #fff;
}

#pgnate{
    
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30pt;

}
#pgnate-m{
  display: none;
}

/**** Mobile layout ****/
@media (max-width: 900px){
    .hero-image{
        background-image: url(asset/back-m.png)
    }
}



@media (max-width: 900px){
    .hero-text{
  top: 60%;
 
}

@media (max-width: 900px){
    #nav

.nav-item-icon{
    display: flex;
}

.nav-item{
    display: none;
}

.nav justify-content-center{
    align-content: center;
}

@media (max-width: 900px){
    .col-4{
        display: none;
    }
   
    @media (max-width: 900px){
        .col-6{
            text-align: justify;
            align-content: flex-start;
            
        }
        
        @media (max-width: 900px){
        .collapsible{
    display: contents;
           
            }
             @media (max-width: 900px){
        .open{
    display: contents;
           
            }
                 
                 
                  @media (max-width: 900px){
        .navbarSupportedContent20{
    display: contents;
            padding: 35px;
           
            }
                       @media (max-width: 900px){
                           .navbar-toggler first-button{
    display: contents;
}
                            @media (max-width: 900px){
                                .pos-f-t{
    display: contents;
}
        @media (max-width: 900px){
            #pgnate-m{
                display: contents;
                font-size: 18pt;
                color: #fff;
                letter-spacing: 18px;
              
            }
            @media (max-width: 900px){
            #pgnate{
                display:none;
              
            }